:root{
			--cube-side-length:200px;
		}
		.cube-container{
			width: var(--cube-side-length);
			height: var(--cube-side-length);
			perspective: 1000px;
		}

		#cube{
			width: 100%;
			height: 100%;
			transform-style: preserve-3d;
			transition: transform 1s;
		}

		#cube figure {
			position: absolute;
		}

		#cube div {
			position: absolute;
		}

		.frontface, .backface{
			-webkit-backface-visibility: hidden;
			position: absolute;
		}

		/* front pane, placed above back */
		.frontface {
			z-index: 2;
			/* for firefox 31 */
			transform: rotateY(0deg);
		}

		/* back, initially hidden pane */
		.backface {
			transform: rotateY(180deg);
		}

		#front{
			width: 100%;
			height: 100%;
			color: red;
			background-color: red;
			transform:translateZ( calc(var(--cube-side-length)/2) );
			opacity: 0.5;
			transition: transform 1s;
		}

		#back{
			width: 100%;
			height: 100%;
			color: yellow;
			background-color: yellow;
			transform: rotateX(180deg) translateZ( calc(var(--cube-side-length)/2) );
			opacity: 0.5;
			transition: transform 1s;
		}


		#top{
			width: 100%;
			height: 100%;
			color: black;
			background-color: black;
			transform: rotateX(90deg) translateZ( calc(var(--cube-side-length)/2) );
			opacity: 0.5;
			transition: transform 1s;
		}

		#bottom{
			width: 100%;
			height: 100%;
			color: green;
			background-color: green;
			transform: rotateX(-90deg) translateZ( calc(var(--cube-side-length)/2) );
			opacity: 0.5;
			transition: transform 1s;
		}

		#right{
			width: 100%;
			height: 100%;
			color: blue;
			background-color: blue;
			transform: rotateY(90deg) translateZ( calc(var(--cube-side-length)/2) );
			opacity: 0.5;
			transition: transform 1s;
		}

		@keyframes rotate-right{
			0%,100%{
				transform:translateX( var(--cube-side-length) ) rotateY(0deg);
			}
			50%{
				transform:translateX( var(--cube-side-length) ) rotateY(180deg);
			}
		}

		.animated-right-win10{
			animation: rotate-right 3s;
		}

		@keyframes rotate-left{
			0%,100%{
				transform:translateX( calc(-1*var(--cube-side-length)) ) rotateY(0deg);
			}
			50%{
				transform:translateX( calc(-1*var(--cube-side-length)) ) rotateY(180deg);
			}
		}

		.animated-left-win10{
			animation: rotate-left 3s;
		}

		@keyframes rotate-top{
			0%,100%{
				transform:translateY( calc(-1*var(--cube-side-length)) ) rotateY(0deg);
			}
			50%{
				transform:translateY( calc(-1*var(--cube-side-length)) ) rotateY(180deg);
			}
		}

		.animated-top-win10{
			animation: rotate-top 3s;
		}

		@keyframes rotate-bottom{
			0%,100%{
				transform:translate3d( var(--cube-side-length), calc(-1*var(--cube-side-length)), 0px ) rotateY(0deg);
			}
			50%{
				transform:translate3d( var(--cube-side-length), calc(-1*var(--cube-side-length)), 0px ) rotateY(180deg);
			}
		}

		.animated-bottom-win10{
			animation: rotate-bottom 3s;
		}

		@keyframes rotate-front{
			0%,100%{
				transform:translateX( 0px ) rotateY(0deg);
			}
			50%{
				transform:translateX( 0px ) rotateY(180deg);
			}
		}

		.animated-front-win10{
			animation: rotate-front 3s;
		}

		@keyframes rotate-back{
			0%,100%{
				transform:translate3d( calc(-1*var(--cube-side-length)), calc(-1*var(--cube-side-length)), 0px ) rotateY(0deg);
			}
			50%{
				transform:translate3d( calc(-1*var(--cube-side-length)), calc(-1*var(--cube-side-length)), 0px ) rotateY(180deg);
			}
		}

		.animated-back-win10{
			animation: rotate-back 3s;
		}

		#left{
			width: 100%;
			height: 100%;
			color: grey;
			background-color: grey;
			transform: rotateY(-90deg) translateZ( calc(var(--cube-side-length)/2) );
			opacity: 0.5;
			transition: transform 1s;
		}

		#cube.show-front  { transform: translateZ( calc(-1*var(--cube-side-length)/2) ) rotateY(    0deg ); }
		#cube.show-back   { transform: translateZ( calc(-1*var(--cube-side-length)/2) ) rotateX( -180deg ); }
		#cube.show-right  { transform: translateZ( calc(-1*var(--cube-side-length)/2) ) rotateY(  -90deg ); }
		#cube.show-left   { transform: translateZ( calc(-1*var(--cube-side-length)/2) ) rotateY(   90deg ); }
		#cube.show-top    { transform: translateZ( calc(-1*var(--cube-side-length)/2) ) rotateX(  -90deg ); }
		#cube.show-bottom { transform: translateZ( calc(-1*var(--cube-side-length)/2) ) rotateX(   90deg ); }

		#cube.show-burst-mode #right{ transform:translateX( var(--cube-side-length) ); }
		#cube.show-burst-mode #left{ transform:translateX( calc(-1*var(--cube-side-length)) ); }
		#cube.show-burst-mode #top{ transform:translateY( calc(-1*var(--cube-side-length)) ); }
		#cube.show-burst-mode #bottom{ transform:translate3d(var(--cube-side-length), calc(-1*var(--cube-side-length)), 0px); }
		#cube.show-burst-mode #back{ transform:translate3d(calc(-1*var(--cube-side-length)), calc(-1*var(--cube-side-length)), 0px); }
		#cube.show-burst-mode #front{ transform:translate3d(0px, 0px, 0px); }